{% extends 'base.html' %}

{% load static %}

{% block css %}
<!-- third party css -->
<link href="{% static 'libs/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables/responsive.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables/buttons.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables/select.bootstrap4.css' %}" rel="stylesheet" type="text/css" />
<!-- third party css end -->

<!-- Footable css -->
<link href="{% static 'libs/footable/footable.core.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            {% include "base_page_title.html" %}

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Tugas 3</h4>
                            <div class="container">
                                <h1>Daftar message</h1>
                          
                                <div>
                                  <a href="{% url 'message:create'  %}" class="btn btn-success">Tambah Baru</a>
                                </div>
                          
                                <br>
                          
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th width="20%">Nama</th>
                                            <th width="45%">NIM</th>
                                            <th width="5%">message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <!-- daftar message-->
                                      {% if messages %}
                                        {% for message in messages %}
                                        <tr>
                                            <td>{{ message.id }}</td>
                                            <td>{{ message.name }}</td>
                                            <td>{{ message.nim }}</td>
                                            <td>{{ message.messages }}</td>
                                            <td>
                                                <a href="{% url 'message:detail' message.id %}" class="btn btn-warning btn-sm">detail</a>
                                                <a href="{% url 'message:update' message.id %}" class="btn btn-primary btn-sm">ubah</a>
                                                <a href="{% url 'message:delete' message.id %}" class="btn btn-danger btn-sm">hapus</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                      {% else %}
                                        <tr>
                                          <td colspan="5">Data tidak ditemukan.</td>
                                        </tr>
                                      {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card body-->
                    </div> <!-- end card -->
                </div><!-- end col-->
            </div>
            <!-- end row-->

        </div> <!-- container -->

    </div> <!-- content -->

    {% include "base_footer.html" %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

{% endblock %}

{% block js %}

<!-- third party js -->
<script src="{% static 'libs/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'libs/datatables/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.html5.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.flash.min.js' %}"></script>
<script src="{% static 'libs/datatables/buttons.print.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'libs/datatables/dataTables.select.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'libs/pdfmake/vfs_fonts.js' %}"></script>
<!-- third party js ends -->

<!-- Datatables init -->
<script src="{% static 'js/pages/datatables.init.js' %}"></script>

{% endblock %}